main/default/flows/NZC_List_Business_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refreh_View1</name>
        <label>Refreh View1</label>
        <locationX>270</locationX>
        <locationY>1148</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>stage_complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshView</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>reset_EUTaxDisc_stage</name>
        <label>Reset EUTaxDisc stage to Identify</label>
        <locationX>270</locationX>
        <locationY>1364</locationY>
        <assignmentItems>
            <assignToReference>getEUDisco.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Identify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>again_update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toggle_off</name>
        <label>toggle off</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ManuallyCreateBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataTable_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_EUTaxDisc_stage</name>
        <label>update EUTaxDisc stage</label>
        <locationX>270</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>getEUDisco.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Map</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Manually_Create</name>
        <label>Manually Create?</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>update_EUTaxDisc_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManuallyCreateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manually_Add_Activities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManuallyCreateBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_EUTaxDisc_stage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <interviewLabel>NZC List Business Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax List Business Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllrelatedBizActivities</name>
        <label>GetAllrelatedBizActivities</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>toggle_off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEUDisco</name>
        <label>getEUDisco</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllrelatedBizActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EU_Taxonomy_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>again_update_Record</name>
        <label>Copy 2 of update Record again</label>
        <locationX>270</locationX>
        <locationY>1472</locationY>
        <inputReference>getEUDisco</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>270</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Refreh_View1</targetReference>
        </connector>
        <inputReference>getEUDisco</inputReference>
    </recordUpdates>
    <screens>
        <name>DataTable_Screen</name>
        <label>DataTable Screen</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Manually_Create</targetReference>
        </connector>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;These are the Business Activities currently identified for &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getEUDisco.Account__r.Name}&lt;/strong&gt; and this Disclosure.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Explore all activities using the handy tree on the right, when you have found one click on the &quot;Add to My Activities&quot; button in the actual activity record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatable1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllrelatedBizActivities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-0c44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manually create activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ManuallyCreateBoolean</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ManuallyCreateBoolean</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>stage_complete</name>
        <label>stage_complete</label>
        <locationX>270</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>reset_EUTaxDisc_stage</targetReference>
        </connector>
        <fields>
            <name>NZC_greencheckmark</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>NZC_greencheckmark</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Business Activities saved&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Modify</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEUDisco</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Manually_Add_Activities</name>
        <label>Manually Add Activities</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetAllrelatedBizActivities</targetReference>
        </connector>
        <flowName>NZC_EUTax_Add_new_Business_Activities</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ManuallyCreateBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
