main/default/flows/NZC_EUTax_Welcome_Set_KPIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>NZC EU Taxonomy flow</description>
    <dynamicChoiceSets>
        <name>kpi_picklist_choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Financial_KPIs__c</picklistField>
        <picklistObject>EU_Taxonomy_Disclosure__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax Welcome Set KPIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Welcome Set KPIs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Disclosure_Record</name>
        <label>Get Disclosure Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>welcome_scn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EU_Taxonomy_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_EUTAxDisclosure</name>
        <label>update_EUTAxDisclosure</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Capex_EUR__c</field>
            <value>
                <elementReference>Capex_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_KPIs__c</field>
            <value>
                <elementReference>kpi_checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opex_EUR__c</field>
            <value>
                <elementReference>Opex_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Identify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turnover__c</field>
            <value>
                <elementReference>Turnover_EUR</elementReference>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>welcome_scn</name>
        <label>welcome_scn</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_EUTAxDisclosure</targetReference>
        </connector>
        <fields>
            <name>welcome_txt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The first step in aligning to the EU&apos;s Taxonomy framework is to determine which KPIs (Turnover, Capex, Opex) you wish to use:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>welcome_scn_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome_scn_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>welcome_scn_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome_scn_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>kpi_checkbox</name>
                    <choiceReferences>kpi_picklist_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Turnover</stringValue>
                    </defaultValue>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_scn_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Turnover_EUR</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Disclosure_Record.Turnover__c</elementReference>
                    </defaultValue>
                    <fieldText>Turnover (EUR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>kpi_checkbox</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Turnover</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_scn_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capex_EUR</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Disclosure_Record.Capex_EUR__c</elementReference>
                    </defaultValue>
                    <fieldText>Capex (EUR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>kpi_checkbox</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Capex</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_scn_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opex_EUR</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Disclosure_Record.Opex_EUR__c</elementReference>
                    </defaultValue>
                    <fieldText>Opex (EUR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>kpi_checkbox</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Opex</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update KPIs and move to next Stage</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Disclosure_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EUTAxDisclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EU_Taxonomy_Disclosure__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
