main/default/flows/NZC_EUTax_List_Economic_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>refresh2</name>
        <label>refresh2</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshView</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Parent</name>
        <label>assign Parent</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Selected_EcoActs.Parent_Business_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_bizActs.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_EligibleEconActivities_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_EligibleEconActivities_to_update</name>
        <label>assign to EligibleEconActivities to update</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>EligibleEconActivitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Selected_EcoActs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Selected_EcoActs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_more</name>
        <choiceText>Add more activities from other sectors</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>im_done</name>
        <choiceText>I&apos;m done, move to next stage</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>finish_or_repeat</name>
        <label>finish or repeat</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_more_sectors_to_examine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>EconActivitiy_Screen</targetReference>
            </connector>
            <label>Repeat</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_more_sectors_to_examine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createEligibleActivities</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <description>NZC EU Taxonomy flow (subflow)</description>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax List Economic Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Subflow List Economic Activities</label>
    <loops>
        <name>Loop_over_Selected_EcoActs</name>
        <label>Loop over Selected EcoActs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>NZC_EUTax_Add_Selected_Activities_to_Eligible_List.Results.EligibleActivities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen_dt_map</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>more_Sectors_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEligibleActivities</name>
        <label>createEligibleActivities</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>refresh2</targetReference>
        </connector>
        <inputReference>EligibleEconActivitiesToUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Biz_Activities</name>
        <label>Get Biz Activities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EconActivitiy_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EconActivitiy_Screen</name>
        <label>EconActivitiy_Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actions>
            <name>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector</name>
            <actionName>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>sectorId</name>
                <value>
                    <elementReference>Taxonomy_Sectors.recordId</elementReference>
                </value>
            </inputParameters>
            <label>NZC EU Tax Auto Get Economic Activities by Sector</label>
            <nameSegment>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector</nameSegment>
        </actions>
        <actions>
            <name>NZC_EUTax_Add_Selected_Activities_to_Eligible_List</name>
            <actionName>NZC_EUTax_Add_Selected_Activities_to_Eligible_List</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>euTaxDisclosureId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEconActivities</name>
                <value>
                    <elementReference>EcoAct_datatable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>NZC EUTax Add Selected Activities to Eligible List</label>
            <nameSegment>NZC_EUTax_Add_Selected_Activities_to_Eligible_List</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_over_Selected_EcoActs</targetReference>
        </connector>
        <fields>
            <name>Taxonomy_Sectors</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Economic_Activity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sector__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Taxonomy Sector</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EcoAct_datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Economic_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Possible Eligible Economic Activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector.Results.outputEconomicActivities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Economic_Activity__c&quot;,&quot;guid&quot;:&quot;column-0fcf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Economic Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-c5de&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector.IsSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>datable_selected</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Eligible Economic Activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>NZC_EUTax_Add_Selected_Activities_to_Eligible_List.Results.EligibleActivities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-94a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-1dd7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-bf11&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue with selection</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Taxonomy_Sectors.recordId</eventSource>
            <handlers>
                <screenActionName>NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>EcoAct_datatable.selectedRows</eventSource>
            <handlers>
                <screenActionName>NZC_EUTax_Add_Selected_Activities_to_Eligible_List</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>more_Sectors_screen</name>
        <label>more Sectors screen</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>finish_or_repeat</targetReference>
        </connector>
        <fields>
            <name>I_have_more_sectors_to_examine</name>
            <choiceReferences>Add_more</choiceReferences>
            <choiceReferences>im_done</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>im_done</defaultSelectedChoiceReference>
            <fieldText>I have more sectors to examine</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_dt_map</name>
        <label>screen_dt_map</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_Parent</targetReference>
        </connector>
        <fields>
            <name>disp_map</name>
            <fieldText>&lt;p&gt;Now proceed to map the Economic  Activity: &lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Loop_over_Selected_EcoActs.Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To a business activity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_bizActs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Business Activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Biz_Activities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name__c&quot;,&quot;guid&quot;:&quot;column-cf6f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Activity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Map</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Biz_Activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>EligibleEconActivitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
