main/default/flows/NZC_EUTax_Add_new_Business_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_fields</name>
        <label>set fields</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>BusinessActivity_Single.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Activities.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessActivity_Single.EU_Taxonomy_Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessActivity_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessActivity_Single.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBusinessActivitiesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BusinessActivity_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Activities</targetReference>
        </connector>
    </assignments>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax Add new Business Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Add new Business Activities</label>
    <loops>
        <name>Loop_over_Activities</name>
        <label>Loop over Activities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>repeater1.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Activity_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Activity_Records</name>
        <label>Create New Activity Records</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>NewBusinessActivitiesCollection</inputReference>
    </recordCreates>
    <screens>
        <name>add_Activities</name>
        <label>add Activities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_over_Activities</targetReference>
        </connector>
        <fields>
            <name>repeater1</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Name</name>
                <dataType>String</dataType>
                <fieldText>Short Description</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;The short description must be less than 255 characters.&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Activities</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_Activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessActivity_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>NewBusinessActivitiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
