main/default/flows/NZC_EUTax_Add_Selected_Activities_to_Eligible_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_selected_Econ_to_Biz_Activities</name>
        <label>assign selected Econ to Biz Activities</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>eleigibleEconActivity.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_Selected_Econ_Activities.Economic_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eleigibleEconActivity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eleigibleEconActivity.EU_Taxonomy_Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>euTaxDisclosureId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eleigibleEconActivity.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eleigibleEconActivity.Linked_Economic_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_Selected_Econ_Activities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EligibleActivities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eleigibleEconActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_Selected_Econ_Activities</targetReference>
        </connector>
    </assignments>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Add Selected Activities to Eligible List</label>
    <loops>
        <name>loop_over_Selected_Econ_Activities</name>
        <label>loop over Selected Econ Activities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>selectedEconActivities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_selected_Econ_to_Biz_Activities</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_over_Selected_Econ_Activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eleigibleEconActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>EligibleActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>euTaxDisclosureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedEconActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
</Flow>
