main/default/flows/NZC_EU_Tax_Auto_Get_Economic_Activities_by_Sector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Output</name>
        <label>assign Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputEconomicActivities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Al_lEconomic_Activities_for_Sector</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NZC EU Tax Auto Get Economic Activities by Sector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EU Tax Auto Get Economic Activities by Sector</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Al_lEconomic_Activities_for_Sector</name>
        <label>get Al lEconomic Activities for Sector</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sectorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Economic_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Al_lEconomic_Activities_for_Sector</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputEconomicActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
    <variables>
        <name>sectorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
