main/default/flows/NZC_EUTax_Screen_Eligible_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Aligned_Actives_to_Create</name>
        <label>Aligned Activites to Create</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Turnover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedTurnover_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Capex_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedCapexA_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Capex_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedCapexB_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Capex_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedCapexC_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Opex_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedOpexA_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Opex_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedOpexB_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Aligned_Opex_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlignedOpexC_final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.EU_Taxonomy_Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.EU_Taxonomy_Disclosure__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Linked_Economic_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Linked_Economic_Activity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Parent_Business_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Parent_Business_Activity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aligned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Environmental_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOverActivityMatches.Objective__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Turnover_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Turnover_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Capex_A_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Capex_A_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Capex_B_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Capex_B_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Capex_C_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Capex_C_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Opex_A_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Opex_A_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Opex_B_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Opex_B_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Opex_C_EUR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Opex_C_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivity_toUpdate_Single.Contribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOverActivityMatches.Contribution_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlignedActivities_toCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AlignedActivity_toUpdate_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Running_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Totals</name>
        <label>Assign Running Totals</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>maxTurnoverPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningTurnover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexApercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningCapexA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexBpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningCapexB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexCpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningCapexC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexApercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningOpexA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexBpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningOpexB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexCpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>runningOpexC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverActivityMatches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>rest_Running_Totals</name>
        <label>reset Running Totals</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>maxTurnoverPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexApercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexBpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxCapexCpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexApercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexBpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxOpexCpercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetActivityMatches</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DNSH_confirmation</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>DNSH_decline</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_Aligned_Record</name>
        <label>Existing Aligned Record?</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>activitycriteria_Kpi1_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_existing_Aligned_Activities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>activitycriteria_existing_Kpi1_screen</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Min_Safeguards_check</name>
        <label>Min Safeguards check</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_stage_on_EUTax2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conforms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>minsafe_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Aligned_Activities</targetReference>
            </connector>
            <label>Conforms</label>
        </rules>
    </decisions>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <formulas>
        <name>AlignedCapexA_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Capex_A_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Capex_A__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedCapexB_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Capex_B_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Capex_B__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedCapexC_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Capex_C_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Capex_C__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedOpexA_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Opex_A_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Opex_A__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedOpexB_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Opex_B_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Opex_B__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedOpexC_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_Opex_C_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Opex_C__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AlignedTurnover_final</name>
        <dataType>Number</dataType>
        <expression>IF({!DNSH_turnover_radio}, {!Auto_flow_Calculate_KPIs.Results.aligned_activity.Aligned_Turnover__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningCapexA</name>
        <dataType>Number</dataType>
        <expression>{!maxCapexApercentage} - {!Capex_A_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningCapexB</name>
        <dataType>Number</dataType>
        <expression>{!maxCapexBpercentage} - {!Capex_B_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningCapexC</name>
        <dataType>Number</dataType>
        <expression>{!maxCapexCpercentage} - {!Capex_C_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningOpexA</name>
        <dataType>Number</dataType>
        <expression>{!maxOpexApercentage} - {!Opex_A_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningOpexB</name>
        <dataType>Number</dataType>
        <expression>{!maxOpexBpercentage} - {!Opex_B_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningOpexC</name>
        <dataType>Number</dataType>
        <expression>{!maxOpexCpercentage} - {!Opex_C_fit}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>runningTurnover</name>
        <dataType>Number</dataType>
        <expression>{!maxTurnoverPercentage} - {!Turnover_Fit}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>NZC EUTax Screen Eligible Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Screen Eligible Activities</label>
    <loops>
        <name>loopOverActivityMatches</name>
        <label>loopOverActivityMatches</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <collectionReference>GetActivityMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getActivityCriterias_DNSH</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverEligibleActivities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverEligibleActivities</name>
        <label>LoopOverEligibleActivities</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>GetAllEligibleActivities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rest_Running_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_MinSafe</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Aligned_Activities</name>
        <label>Create Aligned Activities</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_stage_on_EUTax</targetReference>
        </connector>
        <inputReference>AlignedActivities_toCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_existing_Aligned_Activities</name>
        <label>Check for existing Aligned Activities</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Aligned_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Business_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Parent_Business_Activity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aligned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Environmental_Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOverActivityMatches.Objective__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActivityCriterias_DNSH</name>
        <label>getActivityCriterias_DNSH</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getActivityCriterias_SC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOverActivityMatches.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Criteria_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Do No Significant Harm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActivityCriterias_SC</name>
        <label>getActivityCriterias_SC</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_Aligned_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activity_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOverActivityMatches.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Criteria_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Substantial Contribution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActivityMatches</name>
        <label>GetActivityMatches</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverActivityMatches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Economic_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverEligibleActivities.Linked_Economic_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity_Match__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllEligibleActivities</name>
        <label>GetAllEligibleActivities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverEligibleActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEUDisclosure</name>
        <label>GetEUDisclosure</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllEligibleActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EU_Taxonomy_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_edited_rows</name>
        <label>Update edited rows</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>loopOverActivityMatches</targetReference>
        </connector>
        <inputReference>dt_update_existingAligned.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_on_EUTax</name>
        <label>Update stage on EUTax</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Confirm Aligned</stringValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_on_EUTax2</name>
        <label>Update stage on EUTax2</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Confirm Aligned</stringValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>activitycriteria_DNSH_screen</name>
        <label>activitycriteria_DNSH_screen</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Aligned_Actives_to_Create</targetReference>
        </connector>
        <fields>
            <name>activitycriteria_DNSH_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_DNSH_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_activity_name</name>
                    <fieldText>&lt;p&gt;Economic Activity:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 24px;&quot;&gt;{!LoopOverEligibleActivities.Linked_Economic_Activity__r.Economic_Activity__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_objective</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Significant Contribution to:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 24px;&quot;&gt;{!loopOverActivityMatches.Objective__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_txt_SC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(33, 37, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Does this activity comply with the DNSH criteria?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>activitycriteria_DNSH_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_DNSH_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_turnover_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Turnover DNSH confirmation</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Capex_A_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Capex A</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Capex_B_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Capex B</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Capex_C_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Capex C</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activitycriteria_DNSH_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_DNSH_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_opex2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt;Operational Expenditure&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Opex_A_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Opex A</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Opex_B_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Opex B</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_DNSH_screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNSH_Opex_C_radio</name>
                    <choiceReferences>DNSH_confirmation</choiceReferences>
                    <choiceReferences>DNSH_decline</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>DNSH_confirmation</defaultSelectedChoiceReference>
                    <fieldText>Opex C</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_activitycriteria_datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activity_Criteria__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do No Significant Harm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;DNSH_to_Objective__c&quot;,&quot;guid&quot;:&quot;column-5cc5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;DNSH to Objective&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Criteria_Description__c&quot;,&quot;guid&quot;:&quot;column-1f88&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Criteria Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getActivityCriterias_DNSH</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_dnsh_info</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Please note the following:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;If you indicated in the previous step that the activity is not substantially contributing (0%) to the selected environmental objective, the activity will not be considered as Taxonomy-aligned even though it may comply with all of the DNSH criteria. Complying with substantial contribution is not sufficient and it is necessary to consider the DNSH criteria and minimum safeguards for an activity to be considered Taxonomy-aligned.&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;If you indicate &quot;no&quot; for one or several DNSH criteria of one activity, the activity will be counted as not Taxonomy aligned. If you do not know whether the activity is compliant with one or several DNSH criteria, please indicate “no”. The activity will then be counted as not Taxonomy aligned.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>activitycriteria_existing_Kpi1_screen</name>
        <label>activity criteria existing Kpis</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_edited_rows</targetReference>
        </connector>
        <fields>
            <name>activitycriteria_existing_Kpi1_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_txt_actCriteria</name>
                    <fieldText>&lt;p&gt;Economic Activity:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 24px;&quot;&gt;{!LoopOverEligibleActivities.Linked_Economic_Activity__r.Economic_Activity__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_2_of_running_totals</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Eligible Activity Values&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Turnover&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Turnover_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Turnover_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_txt_SCto</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Significant Contribution to:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(31, 95, 191);&quot;&gt;{!loopOverActivityMatches.Objective__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activitycriteria_existing_Kpi1_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_txt_eligibleCapexA</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Capex A&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Capex_A_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_2_of_txt_eligibleCapexB</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Capex B&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Capex_B_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_2_of_txt_eligibleCapexC</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Capex C&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Capex_C_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_C_EUR__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_txt_eligibleOpexA</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Opex A&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Opex_A_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_2_of_txt_eligibleOpexB</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Opex B&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt; €{!LoopOverEligibleActivities.Opex_B_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_2_of_txt_eligibleOpexC</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Opex C&lt;/strong&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt; €{!LoopOverEligibleActivities.Opex_C_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activitycriteria_existing_Kpi1_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_txt_SC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(33, 37, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Modify the values of your activity fit with the substantial contribution criteria defined in the Taxonomy?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Ensure that the total aligned amounts across all the Environmental Objectives do not exceed the values shown for the corresponding Eligible Activity.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>activitycriteria_existing_Kpi1_screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_update_existingAligned</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Business_Activity__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Business_Activity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Check_for_existing_Aligned_Activities</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Aligned_Turnover__c,Aligned_Capex_A__c,Aligned_Capex_B__c,Aligned_Capex_C__c,Aligned_Opex_A__c,Aligned_Opex_B__c,Aligned_Opex_C__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Aligned_Turnover__c:165, Aligned_Capex_A__c:145, Aligned_Capex_B__c:145, Aligned_Capex_C__c:145, Aligned_Opex_A__c:145, Aligned_Opex_B__c:145, Aligned_Opex_C__c:145</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activitycriteria_existing_Kpi1_screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_existing_Kpi1_screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>accordion3</name>
            <extensionName>c:accordionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isExpanded</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>htmlText</name>
                <value>
                    <elementReference>signcontrib_html</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Significant Contribution</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>footnote_accordion2</name>
            <extensionName>c:accordionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>htmlText</name>
                <value>
                    <elementReference>footnotes_html</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Footnotes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>activitycriteria_Kpi1_screen</name>
        <label>activitycriteria_Kpi1_screen</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <actions>
            <name>Auto_flow_Calculate_KPIs</name>
            <actionName>NZC_EUTax_Update_Aligned_KPIs</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>capexA_percentage</name>
                <value>
                    <elementReference>Capex_A_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>capexB_percentage</name>
                <value>
                    <elementReference>Capex_B_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>capexC_percentage</name>
                <value>
                    <elementReference>Capex_C_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eligible_KPIs</name>
                <value>
                    <elementReference>LoopOverEligibleActivities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opexA_percentage</name>
                <value>
                    <elementReference>Opex_A_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opexB_percentage</name>
                <value>
                    <elementReference>Opex_B_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opexC_percentage</name>
                <value>
                    <elementReference>Opex_C_fit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>turnover_percentage</name>
                <value>
                    <elementReference>Turnover_Fit</elementReference>
                </value>
            </inputParameters>
            <label>NZC EUTax Update Aligned KPIs</label>
            <nameSegment>NZC_EUTax_Update_Aligned_KPIs</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>activitycriteria_DNSH_screen</targetReference>
        </connector>
        <fields>
            <name>activitycriteria_Kpi1_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_actCriteria</name>
                    <fieldText>&lt;p&gt;Economic Activity:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 24px;&quot;&gt;{!LoopOverEligibleActivities.Linked_Economic_Activity__r.Economic_Activity__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_SCto</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Significant Contribution to:&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(31, 95, 191);&quot;&gt;{!loopOverActivityMatches.Objective__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt_SC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(33, 37, 41);&quot;&gt;To what percentage does your activity fit with the substantial contribution criteria defined in the Taxonomy?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>activitycriteria_Kpi1_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>running_totals</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 18px;&quot;&gt;EUR {!LoopOverEligibleActivities.Turnover_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Turnover_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Turnover_Fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Turnover %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Turnover_Fit} &lt;= {!maxTurnoverPercentage}) &amp;&amp; ({!Turnover_Fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Turnover_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleCapexA</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 18px;&quot;&gt;EUR {!LoopOverEligibleActivities.Capex_A_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Capex_A_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Capex A %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Capex_A_fit} &lt;= {!maxCapexApercentage}) &amp;&amp; ({!Capex_A_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleCapexB</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 18px;&quot;&gt;EUR {!LoopOverEligibleActivities.Capex_B_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Capex_B_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Capex B %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Capex_B_fit} &lt;= {!maxCapexBpercentage}) &amp;&amp; ({!Capex_B_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleCapexC</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(31, 95, 191);&quot;&gt;EUR {!LoopOverEligibleActivities.Capex_C_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_C_EUR__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Capex_C_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Capex C %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Capex_C_fit} &lt;= {!maxCapexCpercentage}) &amp;&amp; ({!Capex_C_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Capex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dt_aligned_KPIs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Taxonomy Aligned Turnover &amp; Capex</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Auto_flow_Calculate_KPIs.Results.aligned_activities_output</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Aligned_Turnover__c&quot;,&quot;guid&quot;:&quot;column-da2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Turnover&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Aligned Turnover&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Aligned_Capex_A__c&quot;,&quot;guid&quot;:&quot;column-aad5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capex A&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Aligned Capex A&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Aligned_Capex_B__c&quot;,&quot;guid&quot;:&quot;column-7d15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capex B&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Aligned Capex B&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Aligned_Capex_C__c&quot;,&quot;guid&quot;:&quot;column-b7d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capex C&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Aligned Capex C&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>activitycriteria_Kpi1_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>activitycriteria_Kpi1_screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_opex</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(31, 95, 191);&quot;&gt;Operational Expenditure&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleOpexA</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(31, 95, 191);&quot;&gt;EUR {!LoopOverEligibleActivities.Opex_A_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opex_A_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Opex A %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Opex_A_fit} &lt;= {!maxOpexApercentage}) &amp;&amp; ({!Opex_A_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleOpexB</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(31, 95, 191);&quot;&gt;EUR {!LoopOverEligibleActivities.Opex_B_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opex_B_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Opex B %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Opex_B_fit} &lt;= {!maxOpexBpercentage}) &amp;&amp; ({!Opex_B_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_eligibleOpexC</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 18px;&quot;&gt;EUR {!LoopOverEligibleActivities.Opex_C_EUR__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opex_C_fit</name>
                    <dataType>Number</dataType>
                    <fieldText>Opex C %</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;For each activity, total for all objectives must not exceed 100%.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Opex_C_fit} &lt;= {!maxOpexCpercentage}) &amp;&amp; ({!Opex_C_fit} &gt;= 0)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>opex_datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Taxonomy Aligned Opex</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Auto_flow_Calculate_KPIs.Results.aligned_activities_output</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Aligned_Opex_A__c&quot;,&quot;guid&quot;:&quot;column-0e5b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opex A&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Aligned Opex A&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Aligned_Opex_B__c&quot;,&quot;guid&quot;:&quot;column-4588&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opex B&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Aligned Opex B&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Aligned_Opex_C__c&quot;,&quot;guid&quot;:&quot;column-586c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opex C&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Aligned Opex C&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOverEligibleActivities.Opex_A_EUR__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOverEligibleActivities.Opex_B_EUR__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOverEligibleActivities.Opex_C_EUR__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>activitycriteria_Kpi1_screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>activitycriteria_Kpi1_screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>accordion4</name>
            <extensionName>c:accordionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>htmlText</name>
                <value>
                    <elementReference>signcontrib_html</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isExpanded</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Significant Contribution</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>footnote_accordion</name>
            <extensionName>c:accordionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>htmlText</name>
                <value>
                    <elementReference>footnotes_html</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Footnotes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Capex_A_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Capex_B_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Capex_C_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Opex_A_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Opex_B_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Opex_C_fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Turnover_Fit</eventSource>
            <handlers>
                <screenActionName>Auto_flow_Calculate_KPIs</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>screen_MinSafe</name>
        <label>screen_MinSafe</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Min_Safeguards_check</targetReference>
        </connector>
        <fields>
            <name>minsafe_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does your undertaking comply with the minimum safeguards?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_MinSafe</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Note&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;If your undertaking cannot comply then no Taxonomy aligned Activities can be recognized.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Minimum safeguards&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;According to Article 18 of the Taxonomy Regulation (EU) 2020/852, the minimum safeguards referred to in&amp;nbsp;&lt;a href=&quot;https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32020R0852&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: revert; color: revert;&quot;&gt;point (c) of Article 3&lt;/a&gt;&amp;nbsp;shall be procedures implemented by an undertaking that is carrying out an economic activity to ensure the alignment with the OECD Guidelines for Multinational Enterprises and the UN Guiding Principles on Business and Human Rights, including the principles and rights set out in the eight fundamental conventions identified in the Declaration of the International Labour Organisation on Fundamental Principles and Rights at Work and the International Bill of Human Rights.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEUDisclosure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>footnotes_html</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(31, 95, 191);&quot;&gt;{!getActivityCriterias_SC.Footnotes__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>signcontrib_html</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;{!getActivityCriterias_SC.Criteria_Description__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AlignedActivities_toCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>AlignedActivity_toUpdate_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>foundAlignedActivityVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>maxCapexApercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxCapexBpercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxCapexCpercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxOpexApercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxOpexBpercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxOpexCpercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>maxTurnoverPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
