main/default/flows/NZC_EUTax_Map_Eligible_Economic_to_Business_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>refresh1</name>
        <label>refresh1</label>
        <locationX>534</locationX>
        <locationY>2222</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Eligible_EcoActs_CapModified</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshView</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>refresh2</name>
        <label>refresh2</label>
        <locationX>534</locationX>
        <locationY>2762</locationY>
        <actionName>c:refreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshView</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignEA_to_collection</name>
        <label>assignEA_to_collection</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>possibleEAsforBizAct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_EA_from_EUTax_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_EAs_from_EUTax_NACE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_possibleEAsforBiZAct</name>
        <label>Clear possibleEAsforBiZAct</label>
        <locationX>754</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>possibleEAsforBizAct</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>possibleEAsforBizAct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_unamapped_Biz_Activities</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Auto_Match</name>
        <choiceText>Auto Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto Match</stringValue>
        </value>
    </choices>
    <choices>
        <name>KPIs_Only</name>
        <choiceText>KPIs Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KPIs Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manual_Create</name>
        <choiceText>Manually Create &amp;amp; Match</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Create</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Find_all_unmapped</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find all unmapped</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Find_all_unmapped</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Business_Activities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_all_unmapped.Parent_Business_Activity__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_over_unamapped_Biz_Activities</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_auto</name>
        <label>decision_auto</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Eligible_EcoActs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_auto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Manual_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Match_Subflow</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
        <rules>
            <name>Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_auto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Auto_Match</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_unmapped</targetReference>
            </connector>
            <label>Auto</label>
        </rules>
        <rules>
            <name>KPIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_auto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KPIs_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eligible_EcoActs</targetReference>
            </connector>
            <label>KPIs</label>
        </rules>
    </decisions>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax Map Eligible Economic to Business Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Map Eligible Economic to Business Activities</label>
    <loops>
        <name>Get_EAs_from_EUTax_NACE</name>
        <label>Get EAs from EUTax-NACE</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <collectionReference>all_matched_eutaxnace</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_EA_from_EUTax_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_possibleEconActivities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_unamapped_Biz_Activities</name>
        <label>loop over unamapped Biz Activities</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <collectionReference>Find_all_unmapped</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_all_NACE_EUTaxonomies_for_this_NACE_code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Eligible_EcoActs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Business_Activities</name>
        <label>Get All Business Activities</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Eligible_Economic_Activities</name>
        <label>Get All Eligible Economic Activities</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Business_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_NACE_EUTaxonomies_for_this_NACE_code</name>
        <label>get all NACE-EUTaxonomies for this NACE code</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EAs_from_EUTax_NACE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NACE_Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_unamapped_Biz_Activities.Nace_Activity__r.Id</elementReference>
            </value>
        </filters>
        <object>NACE_EU_Taxonomy__c</object>
        <outputReference>all_matched_eutaxnace</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Economic_Activity__c</queriedFields>
        <queriedFields>NACE_Sector__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_EA_from_EUTax_ID</name>
        <label>get EA from EUTax ID</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignEA_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EAs_from_EUTax_NACE.Economic_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Economic_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligible_EcoActs</name>
        <label>Get Eligible EcoActs</label>
        <locationX>534</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_kpis_capex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligible_EcoActs_CapModified</name>
        <label>Get Eligible EcoActs -CapModified</label>
        <locationX>534</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_kpis_opex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Eligible_Economic_Activities</name>
        <label>Get New Eligible Economic Activities</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eligible_EcoActs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get current disclosure</description>
        <name>getEUDisco</name>
        <label>getEUDisco</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Eligible_Economic_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EU_Taxonomy_Disclosure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Economic_Activities_with_capexKPIs</name>
        <label>Update Economic Activities with capexKPIs</label>
        <locationX>534</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>refresh1</targetReference>
        </connector>
        <inputReference>custom_data_turnovercapexKPI.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Economic_Activities_with_opexKPIs</name>
        <label>Update Economic Activities with opexKPIs</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>update_Record</targetReference>
        </connector>
        <inputReference>custom_data_opexKPI.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>534</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>refresh2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Screen</stringValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>screen_autoOrmanual</name>
        <label>screen_autoOrmanual</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getEUDisco</targetReference>
        </connector>
        <fields>
            <name>txt_autoOrmanual</name>
            <fieldText>&lt;p&gt;Do you wish to try to auto match your Business Activities to the Eligible Economic Activities?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note we will first try and match by NACE code which is only a rough approximation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;(Agenforce tie-in here for future iteration)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radio_auto</name>
            <choiceReferences>Auto_Match</choiceReferences>
            <choiceReferences>Manual_Create</choiceReferences>
            <choiceReferences>KPIs_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Eligible Activity Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_kpis_capex</name>
        <label>screen_kpis_capex</label>
        <locationX>534</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Economic_Activities_with_capexKPIs</targetReference>
        </connector>
        <fields>
            <name>screen_kpis_capex_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_kpis_capex_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_CapexKPIs</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;The three classifications of CapEx are:&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type A: related to assets or processes that are associated with Taxonomy-aligned economic activities (where turnover is aligned);&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type B: part of a plan to expand Taxonomy-aligned economic activities or to allow Taxonomy-eligible economic activities to become Taxonomy-aligned under conditions specified in the Delegated Act (where turnover is eligible but not aligned); and&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type C: Related to the purchase of output from Taxonomy-aligned economic activities and individual measures enabling the target activities to become low-carbon or to lead to greenhouse gas reductions, provided that such measures are implemented and operational within 18 months (where turnover is not eligible nor aligned).&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_kpis_capex_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>capex_image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NZC_EUTax_capexDecisionTree</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>260</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt_warning1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ensure that your totals do not exceed your undertaking&apos;s or asset&apos;s Turnover &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;({!getEUDisco.Turnover__c})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getEUDisco.Turnover__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_warning4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ensure that your totals do not exceed your undertaking&apos;s or asset&apos;s Capex &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;({!getEUDisco.Capex_EUR__c})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>custom_data_turnovercapexKPI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Business_Activity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eligible_EcoActs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name__c,Turnover_EUR__c,Capex_A_EUR__c,Capex_B_EUR__c,Capex_C_EUR__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name__c:320, Turnover_EUR__c:185, Capex_A_EUR__c:180, Capex_B_EUR__c:180, Capex_C_EUR__c:180</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name__c:true, Turnover_EUR__c:false, Capex_A_EUR__c:false, Capex_B_EUR__c:false, Capex_C_EUR__c:false, Opex_A_EUR__c:false, Opex_B_EUR__c:false, Opex_C_EUR__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressCurrencyConversion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressCurrencyConversion</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Turnover and Capex Values</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_kpis_opex</name>
        <label>screen_kpis_opex</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Economic_Activities_with_opexKPIs</targetReference>
        </connector>
        <fields>
            <name>screen_kpis_opex_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_kpis_opex_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_txt_KPIOpex</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;The three classifications of OpEx are:&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type A: related to assets or processes that are associated with Taxonomy-aligned economic activities (where turnover is aligned);&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type B: part of a Capex plan to expand Taxonomy-aligned economic activities or to allow Taxonomy-eligible economic activities to become Taxonomy-aligned within a predefined timeframe specified in the Delegated Act (where turnover is eligible but not aligned); and&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;Type C: Related to the purchase of output from Taxonomy-aligned economic activities and individual measures enabling the target activities to become low-carbon or to lead to greenhouse gas reductions, provided that such measures are implemented and operational within 18 months (where turnover is not eligible nor aligned).&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_kpis_opex_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>opex_image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>NZC_EUTax_opexDecisionTree</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>260</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt_warning2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ensure that your totals do not exceed your undertaking&apos;s or assets Opex &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;({!getEUDisco.Opex_EUR__c})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getEUDisco.Opex_EUR__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_warning3</name>
            <fieldText>&lt;p&gt;You have not allocated any Opex to this Disclosure, if this was an oversight, go back to the &apos;Welcome&apos; stage and set this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getEUDisco.Opex_EUR__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>custom_data_opexKPI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Business_Activity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name__c,Opex_A_EUR__c,Opex_B_EUR__c,Opex_C_EUR__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name__c:320, Opex_A_EUR__c:180, Opex_B_EUR__c:180, Opex_C_EUR__c:180</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name__c:true, Turnover_EUR__c:false, Capex_A_EUR__c:false, Capex_B_EUR__c:false, Capex_C_EUR__c:false, Opex_A_EUR__c:false, Opex_B_EUR__c:false, Opex_C_EUR__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressCurrencyConversion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressCurrencyConversion</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opex Expenditure associated with the Activity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eligible_EcoActs_CapModified</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getEUDisco.Opex_EUR__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_possibleEconActivities</name>
        <label>screen_possibleEconActivities</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_vars_and_Create_BizAct_EA_Eligible_Subflow</targetReference>
        </connector>
        <fields>
            <name>txt_Business_Activity</name>
            <fieldText>&lt;p&gt;For the following Business Activity:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(31, 95, 191);&quot;&gt;{!loop_over_unamapped_Biz_Activities.Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With NACE code:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(31, 95, 191);&quot;&gt;{!loop_over_unamapped_Biz_Activities.Nace_Activity__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We found the following matches in the Economic Activities record based on their NACE code coverage:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_matched_naceeutax</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Economic_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>possibleEAsforBizAct</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e1ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;EconActivity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Economic_Activity__c&quot;,&quot;guid&quot;:&quot;column-13fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Economic Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-b3dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedEAActivities</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_autoOrmanual</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_vars_and_Create_BizAct_EA_Eligible_Subflow</name>
        <label>Assign vars and Create BizAct_EA_Eligible Subflow</label>
        <locationX>754</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Clear_possibleEAsforBiZAct</targetReference>
        </connector>
        <flowName>NZC_EUTax_create_EA_BusinessActivty_Subflow</flowName>
        <inputAssignments>
            <name>businessActivity</name>
            <value>
                <elementReference>loop_over_unamapped_Biz_Activities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedEAs</name>
            <value>
                <elementReference>selectedEAActivities</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Manual_Match_Subflow</name>
        <label>Manual Match Subflow</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_New_Eligible_Economic_Activities</targetReference>
        </connector>
        <flowName>NZC_EUTax_List_Economic_Activities</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>all_matched_eutaxnace</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NACE_EU_Taxonomy__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_all_unmapped</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>dt_rows_edited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>EAsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
    <variables>
        <name>EconActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NACEEUTaxID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>possibleEAsforBizAct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedEAActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
    <variables>
        <name>toogle_result</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
