main/default/flows/NZC_Add_to_My_Business_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Return_to_EU_Tax_Disclosure</name>
        <label>Return to EU Tax Disclosure</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getCMEUdisc.EUDisclousreID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>NZC Add to My Business Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC Add to My Business Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Business_Activity</name>
        <label>Create Business Activity</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>BizActID</assignRecordIdToReference>
        <connector>
            <targetReference>conf_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>EU_Taxonomy_Disclosure__c</field>
            <value>
                <elementReference>getCMEUdisc.EUDisclousreID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nace_Activity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Get_NACE_details.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <object>Business_Activity__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_NACE_details</name>
        <label>Get NACE details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Business_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Nace_sectors__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCMEUdisc</name>
        <label>getCMEUdisc</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NACE_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tracking_EU_Disclosure__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>conf_screen</name>
        <label>conf_screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_to_EU_Tax_Disclosure</targetReference>
        </connector>
        <fields>
            <name>conf_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>conf_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt3</name>
                    <fieldText>&lt;p&gt;Business Activity created. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please repeat for all other Activities&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>conf_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>greencheck</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>greencheck</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Return to Disclosure</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCMEUdisc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BizActID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
