main/default/flows/NZC_EUTax_Set_thisEUTax_toActive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deploy_custom_meta</name>
        <label>Deploy custom meta</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>CustomMetadataSaver</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__customMetadataRecords</typeName>
            <typeValue>Tracking_EU_Disclosure__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customMetadataRecords</name>
            <value>
                <elementReference>AllCustomMetaEUTaxIDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnError</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnSuccess</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CustomMetadataSaver</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pause_or_mixed_DML</name>
        <label>Pause or mixed DML</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Deploy_custom_meta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Setting this Disclosure to Active ......</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_current_mdt_to_Collection</name>
        <label>Add current mdt to Collection</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AllCustomMetaEUTaxIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_mdt_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_mdt_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EUTAxID_to_MDT</name>
        <label>Assign EUTAxID to MDT</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_mdt_collection.EUDisclousreID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_mdt_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>NZC EU Taxonomy flow</description>
    <environments>Default</environments>
    <interviewLabel>NZC_EUTax_Set_thisEUTax_toActive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC_EUTax_Set_thisEUTax_toActive</label>
    <loops>
        <name>Loop_over_mdt_collection</name>
        <label>Loop over mdt collection</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_EUTaxDisc_Tracking_CM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_EUTAxID_to_MDT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause_or_mixed_DML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EUTaxDisc_Tracking_CM</name>
        <label>Get EUTaxDisc Tracking CM</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_All_to_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tracking_EU_Disclosure__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_All_to_Inactive</name>
        <label>Set All to Inactive</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_to_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Active</name>
        <label>Update to Active</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_over_mdt_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>welcome1</name>
        <label>welcome1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_EUTaxDisc_Tracking_CM</targetReference>
        </connector>
        <fields>
            <name>welcome1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>img_checkmark</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(31, 95, 191);&quot;&gt;Click Start to set this EU Taxonomy Disclosure record as Active &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>welcome1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCustomMetaEUTaxIDS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tracking_EU_Disclosure__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
