main/default/flows/NZC_EUTax_start_enter_disclosure_info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Deploy_custom_meta</name>
        <label>Deploy custom meta</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>CustomMetadataSaver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_EU_Disclosure_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__customMetadataRecords</typeName>
            <typeValue>Tracking_EU_Disclosure__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customMetadataRecords</name>
            <value>
                <elementReference>AllCustomMetaEUTaxIDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnError</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailOnSuccess</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CustomMetadataSaver</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_EU_Disclosure_Record</name>
        <label>Navigate to EU Disclosure Record</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>newEUdisclosureID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>pause_Mixed_DML</name>
        <label>pause Mixed DML</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Deploy_custom_meta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Redirecting</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_current_mdt_to_Collection</name>
        <label>Add current mdt to Collection</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllCustomMetaEUTaxIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_mdt_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_mdt_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EUTAxID_to_MDT</name>
        <label>Assign EUTAxID to MDT</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_mdt_collection.EUDisclousreID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEUdisclosureID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_mdt_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>NZC EU Taxonomy flow</description>
    <dynamicChoiceSets>
        <name>allAccountsChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mid-Market</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Small Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>chosenAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>chosenAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allProgramInitiatives</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Environmental</stringValue>
            </value>
        </filters>
        <object>ProgramInitiative</object>
        <outputAssignments>
            <assignToReference>chosenPI_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>chosenPI_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>financial_info_status_picklistchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Financial_Information_Status__c</picklistField>
        <picklistObject>EU_Taxonomy_Disclosure__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>year_fromEUTax</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disclosure_Year__c</picklistField>
        <picklistObject>EU_Taxonomy_Disclosure__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EUDisclosureName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!chosenPI_ID}),&quot;EUTAx-&quot; + {!chosenAccountName} + &quot;-&quot; + TEXT(TODAY()),
&quot;EUTax-&quot; +{!chosenPI_name} + &quot;-&quot; + TEXT(TODAY())
)</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!chosenPI_ID}),&quot;EUTAx-&quot; + {!chosenAccountName} + &quot;-&quot; + TEXT(TODAY()),
&quot;EUTax-&quot; +{!chosenPI_name} + &quot;-&quot; + TEXT(TODAY())
)</expression>
    </formulas>
    <interviewLabel>NZC EUTax start_enter_disclosure_info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Home create new disclosure record</label>
    <loops>
        <name>Loop_over_mdt_collection</name>
        <label>Loop over mdt collection</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_EUTaxDisc_Tracking_CM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_EUTAxID_to_MDT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pause_Mixed_DML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create EU Disclosure</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>newEUdisclosureID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_EUTaxDisc_Tracking_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>chosenAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Year__c</field>
            <value>
                <elementReference>year_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Information_Status__c</field>
            <value>
                <elementReference>fins_figures_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EUDisclosureName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Initiative__c</field>
            <value>
                <elementReference>ProgramInit_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Welcome</stringValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_EUTaxDisc_Tracking_CM</name>
        <label>Get EUTaxDisc Tracking CM</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_mdt_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tracking_EU_Disclosure__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_All_EUTAx_to_inactive</name>
        <label>Set All EUTAx to inactive</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>EU_Taxonomy_Disclosure__c</object>
    </recordUpdates>
    <screens>
        <name>screen2</name>
        <label>Select Account, Year, Project</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_All_EUTAx_to_inactive</targetReference>
        </connector>
        <fields>
            <name>screen2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 12px;&quot;&gt;Choose the entity (undertaking) for which you wish to apply the EU Taxonomy framework.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>accountPicklist</name>
                    <choiceReferences>allAccountsChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>txt4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 12px;&quot;&gt;Choose the disclosure year for which you are conducting this exercise&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>year_picklist</name>
                    <choiceReferences>year_fromEUTax</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>2024</stringValue>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>txt6</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(31, 95, 191);&quot;&gt;Financial KPIs Status&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>fins_figures_picklist</name>
                    <choiceReferences>financial_info_status_picklistchoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Interim</stringValue>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>txt5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 12px;&quot;&gt;Select the Project (Program Initiative)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ProgramInit_picklist</name>
                    <choiceReferences>allProgramInitiatives</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>eutaxonomy_image2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>eutaxonomy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>240</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>welcome1</name>
        <label>welcome1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <fields>
            <name>welcome1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>welcome1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt;Click Start to continue, you will be asked for the entity (undertaking) for which you are applying the taxonomy.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt;At present this links to a Salesforce Account and a Program Initiative however this can easily extended to other entities such Facilities (NZC SAES objects) etc&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt;A disclosure tracking record will be created to track your progress.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(31, 95, 191); font-size: 16px;&quot;&gt;You will be automatically redirected to this Disclosure and guided through the process.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>eutaxonomy_image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>eutaxonomy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>210</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>welcome1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCustomMetaEUTaxIDS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tracking_EU_Disclosure__mdt</objectType>
    </variables>
    <variables>
        <name>chosenAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenPI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenPI_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEUdisclosureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
