main/default/flows/NZC_EUTax_create_EA_BusinessActivty_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignVarstoBizAct</name>
        <label>assignVarstoBizAct</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.Parent_Business_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>businessActivity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.EU_Taxonomy_Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>businessActivity.EU_Taxonomy_Disclosure__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_selectedEAs.Economic_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.Linked_Economic_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_selectedEAs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivity_EA_single.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessActivities_EA_toCreate_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>businessActivity_EA_single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_selectedEAs</targetReference>
        </connector>
    </assignments>
    <description>NZC EU Taxonomy (Subflow)</description>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax create EA_BusinessActivty (Sublow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax create EA_BusinessActivty (Subflow)</label>
    <loops>
        <name>loop_over_selectedEAs</name>
        <label>loop over selectedEAs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>selectedEAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignVarstoBizAct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createBizAct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createBizAct</name>
        <label>createBizAct</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <inputReference>businessActivities_EA_toCreate_collection</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_over_selectedEAs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>businessActivities_EA_toCreate_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>businessActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>businessActivity_EA_single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Activity__c</objectType>
    </variables>
    <variables>
        <name>selectedEAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Economic_Activity__c</objectType>
    </variables>
</Flow>
