main/default/flows/NZC_EUTax_Delete_all_associated_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_Aligned_Activities</name>
        <label>Any Aligned Activities</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Any_Eligible_Activities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAlignedActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteAlignedActivities</targetReference>
            </connector>
            <label>Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Biz_Activities</name>
        <label>Any Biz Activities</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Biz_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBusinessActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteBizActivities</targetReference>
            </connector>
            <label>Biz Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Eligible_Activities</name>
        <label>Any Eligible Activities</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Any_Biz_Activities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEligibleActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteEligibleActivities</targetReference>
            </connector>
            <label>Eligible Records Exist</label>
        </rules>
    </decisions>
    <description>NZC EU Taxonomy flow</description>
    <dynamicChoiceSets>
        <name>EUTaxDisclosures_choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>EU_Taxonomy_Disclosure__c</object>
        <outputAssignments>
            <assignToReference>chosenEUTax_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>chosenEUTax_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NZC EUTax Delete all associated Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NZC EUTax Delete all associated Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deleteAlignedActivities</name>
        <label>deleteAlignedActivities</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Any_Eligible_Activities</targetReference>
        </connector>
        <inputReference>getAlignedActivities</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>deleteBizActivities</name>
        <label>deleteBizActivities</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <inputReference>getBusinessActivities</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>deleteEligibleActivities</name>
        <label>deleteEligibleActivities</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Any_Biz_Activities</targetReference>
        </connector>
        <inputReference>getEligibleActivities</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAlignedActivities</name>
        <label>getAlignedActivities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEligibleActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenEUTax_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aligned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBusinessActivities</name>
        <label>getBusinessActivities</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Aligned_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenEUTax_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEligibleActivities</name>
        <label>getEligibleActivities</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBusinessActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EU_Taxonomy_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenEUTax_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrn_confirm</name>
        <label>scrn_confirm</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getAlignedActivities</targetReference>
        </connector>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;This will delete all:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Aligned Activities&lt;/li&gt;&lt;li&gt;Eligible Activities&lt;/li&gt;&lt;li&gt;Business Activities &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Associated with the selected EU Tax Disclosure&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EUTax_picklist</name>
            <choiceReferences>EUTaxDisclosures_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>EU Taxonomy Disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrn_confirm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chosenEUTax_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenEUTax_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
